@import 'tailwindcss';

:root {
  --primary-dark: #0f172a;
  --primary-light: #e2e8f0;
}

body {
  @apply bg-[var(--primary-light)] text-[var(--primary-dark)] dark:bg-[var(--primary-dark)] dark:text-[var(--primary-light)];
}

/* Custom base styles */
@layer base {
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-bold;
  }
  h2 {
    @apply text-3xl sm:text-4xl;
  }
  li {
    @apply cursor-pointer;
  }
}

/* Add to your global.css or tailwind.config.js for shimmer animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}